@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@font-face {
    font-family: "Montreal";
    src: url("/fonts/NeueMontreal-Regular.ttf")format("truetype");
}

.font-montreal {
    font-family: "Montreal";
}

@font-face {
    font-family: "PP";
    src: url("/fonts/PPNeueMontreal-Regular.48a63c42.ttf")format("truetype");
}

.font-pp {
    font-family: "PP";
}

@font-face {
    font-family: "PPmedium";
    src: url("/fonts/PPNeueMontreal-Medium.431960c2.ttf")format("truetype");
}

.font-ppmedium {
    font-family: "PPmedium";
    box-shadow: none;
    text-shadow: none;
    font-weight: 200;
}

body {
    /* background-color: #FD2C2A; */
    /* background-color: #000; */
}
@layer utilities {
    .circle {
        @apply relative w-[20rem] h-[20rem] bg-red-500 rounded-full flex items-center justify-center ;
    }
    .text {
        @apply absolute w-[100%] h-[100%];
        animation: rotate-circle 3s linear infinite;
    }
   
}
.te {
    font-family: 'Kanit';
}



@keyframes rotate-circle {
    to {
        transform: rotate(1turn);
    }
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

